.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.form-control,
.form-control:focus {
  background-color: #343a40;
  color: white;
  border: 1px solid #17a2b8;
}

.card-body {
  text-align: center;
}

.modal-content {
  background-color: #343a40;
  color: #17a2b8;
}

.modal-header {
  border-bottom: 1px solid;
}

.modal-footer {
  border-top: 1px solid;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol.song-list {
  color: #17a2b8;
  font-weight: bold;
  font-size: large;
}

.queue-item:hover {
  background-color: #17a2b8;
  color: white !important;
}

.vertical-slider {
  -webkit-appearance: none;
  background-color: #282c34;
  overflow: hidden;
  width: 10px;
  height: 210px;
  transform: rotate(-90deg) scaleY(5%) scaleX(2100%) translateY(40px);
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 10px;
  box-shadow: 0 0 0 5px #43e5f7;
  transform: rotate(-90deg) scaleY(2%) scaleX(2100%);
}

.horizontal-slider {
  -webkit-appearance: none;
  background-color: #282c34;
  overflow: hidden;
}

.horizontal-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 10px;
  box-shadow: 0 0 0 5px #43e5f7;
}

.welcome-page {
  height: calc(100vh - 72px);
  background: linear-gradient(rgba(40, 44, 52, 0.6), rgba(40, 44, 52, 0.6)),
    url(./Pages/welcome_bg.png);
}
