.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.form-control,
.form-control:focus {
  background-color: #343a40;
  color: white;
  border: 1px solid #17a2b8;
}

.card-body {
  text-align: center;
}

.modal-content {
  background-color: #343a40;
  color: #17a2b8;
}

.modal-header {
  border-bottom: 1px solid;
}

.modal-footer {
  border-top: 1px solid;
}

.page {
  padding: 15px 15px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-slider {
  -webkit-appearance: slider-vertical;
  width: 16px;
}
