.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.form-control,
.form-control:focus {
  background-color:#343a40;
  color: white;
  border: 1px solid #17a2b8;
}
